@font-face{
	font-family: '站酷庆科黄油体';
	src: url('./font/站酷庆科黄油体.ttf') format("truetype");
	font-display: swap;
}

body{
	font-family: '站酷庆科黄油体', BlinkMacSystemFont, 'Segoe UI', 'Helvetica Neue', Lato, Roboto, 'PingFang SC', 'Microsoft YaHei', 'sans-serif';
	font-size: 16px;
}