@font-face{
	font-family: 'ZhuZi';
	src: url('https://cdn.jsdelivr.net/gh/cifan-yk/cifan-yk.github.io/font/ZhuZiAWan5.woff2');
	font-display: swap;
}

body{
	font-family: 'ZhuZi', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Helvetica Neue', Lato, Roboto, 'PingFang SC', 'Microsoft YaHei', 'sans-serif';
	font-size: 16px;
}